<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Chat</title>
  </head>
  <body>
    <h1>Create a New Chat</h1>
    <form action="http://localhost:3000/chats" method="post">
      <label name="from"><input type="text" name="from" /></label>
      <label name="msg"><input type="text" name="msg" /></label>
      <label name="to"><input type="text" name="to" /></label>
      <label name="date"><input type="date" name="date" /></label>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
